.profile-page {
    height: 80vh;
    display: flex;
    background: #3F3F46;
    align-items: center;
    border-radius: 8px;

    flex-direction: column;
}

.profile-page .profile {
    margin-top: 2rem;
    display: flex;
}

.profile-page .info {
    margin-left: 1.5rem;
}