#root {
  max-width: 1280px;
  overflow: hidden auto;
}

* {
  margin: 0;
  padding: 0;
  background-color: #09090A;
}

body, 
html {
  font-family: 'Roboto', sans-serif;
  color: #f9fafb;
  font-weight: 400;
  padding: 1rem 1.5rem ;
}
